#lbcontainer{
    /* border: 1px solid gray; */
    height: 450px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#lbcontainer>div{
    border: 1px solid gray;
    width: 100%;
    margin: auto;
    height: 100%

}

.lbcontainer1>div{
    display: flex;
}
.lbcontainer1>div>img{
    width: 15px;
    margin-left: 30%;
    padding-right: 10px;
}
.lbcontainer2>p{
    color: black;
    margin: auto;
}
.lbprice_mo{
    /* border: 1px solid red; */
    font-size: 25px;
    justify-content: center;
}
.lbprice_mo1{
    justify-content: center;
    color: gray;
}
.lbprice_mo2{
    /* border: 1px solid black ; */
    padding-top: 5px;
    height: 35px;
    display: flex;
    width: 80%;
    margin: auto;
    gap: 5px;
}
.lbprice_mo2>div{
    width: 50%;
    /* border: 1px solid red; */
    
}
.lbprice_mo2_child1{
    background-color: #CBD6E2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.lbprice_mo2_child1>span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.minus{
    cursor: pointer;
    
    
    
}
.plus{
    cursor: pointer;
}
.num{
    border-right: 1px solid gray;
    border-left: 1px solid gray;

}
.lbprice_mo2_child2{
    display: flex;
    align-items: center;
    justify-content: left;
}
.lbprice_mo3>p{
    text-align: center;
    line-height: 1.8;
}
.lbprice_mo4{
    display: flex;
    /* border: 1px solid red; */
    width: 80%;
    height: 45px;
    margin: auto;
}
.lbprice_mo4>button{
    height: 100%;
    font-size: 12px;
    width: 50%;
    border-radius: 25px;
}
.lbprice_mo4child1{
    background-color: #fff;
    border: 1px solid blue;
    cursor: pointer;;
}
.lbprice_mo5{
    /* border: 1px solid blue; */
    width: 80%;
    margin: auto;
    /* height: 35px */
    padding-top: 20px;
}
.landingbtn{
    box-sizing: border-box;
    height: 100%;
    border-radius: 5px;
      font-size: 18px;
      width: 100%;
      line-height: 38px;
      /* margin-top: 10px; */
      cursor: pointer;
      font-size: 16px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
     border-color: #ff7a59;
     background-color: #ff7a59;
     color: #fff;
     /* margin-bottom: 30px; */
  
  }
  .lbprice_mo00{
    /* border: 1px solid red; */
    font-size: 25px;
    justify-content: center;

  }
  .lbprice_mo22{
    /* border: 1px solid black ; */
    width: 80%;
    height: 35px;
    display: flex;
    margin: auto;
    gap: 10px;
}
.lbprice_mo22>div{
    width: 50%;
    /* border: 1px solid red; */
    
}
.lbprice_mo22_child1{
    background-color: #CBD6E2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.lbprice_mo22_child1>span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.minus1{
    cursor: pointer;
}
.plus1{
    cursor: pointer;
}
.num1{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
.lbprice_mo22_child2{
    display: flex;
    align-items: center;
    justify-content: left;
}
.lbprice_mo11{
    /* border: 1px solid red; */
    font-size: 25px;
    justify-content: center;
}
.lbprice_mo222{
    /* border: 1px solid black ; */
    height: 35px;
    display: flex;
}
.lbprice_mo222>div{
    width: 50%;
    /* border: 1px solid red; */
    
}
.lbprice_mo222_child1{
    background-color: #CBD6E2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.lbprice_mo222_child1>span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.minus11{
    cursor: pointer;
}
.plus11{
    cursor: pointer;
}
.num1{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
.lbprice_mo222_child2{
    display: flex;
    align-items: center;
    justify-content: left;
}
.lbcontainerr{
    width: 80%;
    /* border: 1px solid red; */
    /* background-color: #ff7a59; */
    margin: auto;
   
    display: flex;

    
}
.lbcontainerr>div{
    width: 33.33%;
    border: 1px solid gray;
    border-bottom: none;
    padding-left: 20px;
    
}

.lbcontainer3{
    width: 80%;
    /* background-color: green; */
    margin: auto;
    height: 50px;
    display: flex;

}
.lbcontainer3>div{
    width: 33.33%;
    border: 1px solid gray;
    justify-content: center;
    text-align: center;
    color: #0091AE;
    
}
.lbcontainer3chind1>p{
    cursor: pointer;
}

.lbcontainerrchild1>h4{
    color: #0091AE;
}
.lbcontainer4{
    width: 80%;
    /* background-color: green; */
    margin: auto;
    height: 50px;
    display: flex;

}
.lbcontainer4>div{
    width: 100%;
    border: 1px solid gray;
    border-top: none;
}

.lbcontainer4chind1>p{
    text-align: center;
    color: black;
    justify-content: center;
    
}