body {
    font-family: Arial, Helvetica, sans-serif;
            }
    
            #pc_img_logo {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 10%;
                height: auto;
                border: 0px solid red;
    
            }
            #pc_logo{
                border: 0px solid blue;
                width: 100%;
            }
            #pc_p{
            text-align: center;
            font-size: 18px;
              font-weight: 500;
              line-height: 24px;
              cursor: default;
              color: #33475b;
            vertical-align: middle;
            height: 32px;
        
            
            /* border: 2px solid red; */
            }
            #pc_form{
                width: 40%;
                border: 0px solid red;
                margin-left: 35%;
            }
            #pc_form_div{
                border: 0px solid black;
               margin: auto;
            }
            
            input[type=text]{
                width: 425px;
               height:40px ;
               background-color: #F5F8FA;
               border: 1px solid #CBD6E2;
            }
    
            input[type=checkbox]{
                line-height: 24px;
                height: 20px;
                width: 20px;
                min-height: auto;
                min-width: auto;
                position: relative;
                border: 2px solid #CBD6E2;
            }
          #pc_btn{
            width:433px ;
            height: 40px;
            border: none;
            font-size: 18px;
            background-color:  rgb(255, 60, 60);
            border-radius: 5px;
          }
          #pc_label{
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
              cursor: default;
              color: #33475b;
            vertical-align: middle;
            height: 32px;
            width: 425px;
            padding: 8px 12px 0 0;
            
          }
          #pc_label_blue{
            color:#008095 ;
            line-height: 12px;
            font-weight: 600;
            cursor: pointer;
            font-size: 15px;
            margin-top: px;
          }
          #pc_label_checkbox{
           display: inline; 
           font-size: 20px;
              font-weight: 500;
            
              /* line-height: 24px; */
              cursor: default;
              color: #33475b;
            /* vertical-align: middle; */
        
          }
        
          #pc_a{
            font-weight: 600;
            color:#008095;
            text-decoration: none;
          }
    /* #pc_goggle{
      display: flex;
      /* justify-content: center; */
      /* padding-top: 20px;
      margin-left: 35%;
    } */ 
          /* #pc_goggle_img{
            width: 1.8%;
          } */
        #pc_btn2{
          width:433px ;
          height: 40px;
          border: none;
display: block;
color: white;
          font-size: 15px;
          background-color:  #5886D4;
          border-radius: 5px;
          margin-left: 35%;
         margin-top: 20px;
        }

        #pc_btn3{
          color: white;
          font-size: 15px;
          width:433px ;
          height: 40px;
          border: none;
display: block;
         
          background-color: #425B76;
          border-radius: 5px;
          padding: 11px 24px 11px 24px;
          margin-left: 35%;
          margin-top: 20px;
        }
        #pc_copyright{
         color: #33475B; 
         font-size: 12px;
         /* text-align: center; */
         margin-top: 50px;
         margin-left: 44%;
        }
        #pc_policy{
          font-size: 12px;
          color: #5886D4;
          margin-left: 50%;
      
        }