
body {
font-family: Arial, Helvetica, sans-serif;
}

.pc_img_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
    border: 0px solid red;

}
.pc_logo{
    border: 0px solid blue;
    width: 100%;
    
}
.pc_p{
text-align: center;
font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: default;
  color: #33475b;
vertical-align: middle;
height: 32px;


/* border: 2px solid red; */
}
.pc_form{
    width: 40%;
    border: 0px solid red;
    margin-left: 35%;
}
.pc_form_div{
    border: 0px solid black;
   margin: auto;
}

input[type=text]{
    width: 425px;
   height:40px ;
   background-color: #F5F8FA;
   border: 1px solid #CBD6E2;
}

input[type=password]{
  width: 425px;
 height:40px ;
 background-color: #F5F8FA;
 border: 1px solid #CBD6E2;
}

#pc_Sbtn{
width:433px ;
height: 40px;
border: none;
font-size: 18px;
background-color:  rgb(255, 60, 60);
border-radius: 5px;
}
.pc_label{
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: default;
  color: #33475b;
vertical-align: middle;
height: 32px;
width: 425px;
padding: 8px 12px 0 0;

}

.pc_h1_signup{
text-align: center;
color: rgb(255, 60, 60);
}
