*{
    margin: 0 0;
}
button{
    cursor: pointer;
}

 #vd-upper-navbar{
    display: flex;
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    line-height: 30px;
    font-size: 12px;
    height: 40px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    text-align: center;
    margin-top: 6px;
    position: relative;
}
.vd-upper1 {
    display: flex; 
    width: 30%;
    gap: 30px;
} 
.vd-upper2 {
    display:flex; 
    justify-content: end;
    gap: 30px; 
    align-items: center;
    width: 70%;
}
 .vd-language-dropdown a{
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    color: #ffffff;
    font-weight:600;
}
.vd-language-dropdown a:hover{
    color: #0b8484;
    background-color: #ffffff;
    text-decoration: underline;
}
.vd-language-dropdown a{
    color: rgb(49, 48, 48);
}
.vd-language-dropdown-content{
    display: none;
    font-weight: 600;
    line-height: 21px;
    height: 29*6px;
    width: 97px;
    position: absolute;
    text-align: center;
    background-color: #ffffff;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.vd-language-dropdown:hover .vd-language-dropdown-content {
    display:grid;
    color: #0b8484;
} 
.vd-contact-sales a{ 
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    color: rgb(49, 48, 48);
    font-weight: 600;
}
.vd-contact-sales img {
    width: 9%;
}
.vd-contact-sales a:hover{
    color: #0b8484;
    text-decoration:underline;
}
.globe{
    width: 9%;
}
.vd-upper2 a,input{
    color: rgb(49, 48, 48);
    text-decoration: none;
    font-weight:600;

}
.vd-upper2 a:hover{
    color: #0b8484;
    text-decoration:underline;
}
.vd-about-dropdown a{
    position: relative;
    display: inline-block;
}
.vd-about-dropdown a:hover{
    color: #0b8484;
    text-decoration: underline;
}
.vd-about-dropdown a{
    color: rgb(49, 48, 48);
}
.vd-about-dropdown-content{
    display: none;
    position:absolute;
    text-align: center;
    background-color: #ffffff;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.vd-about-dropdown:hover .vd-about-dropdown-content {
    display:grid;
    color: #0b8484;
}  

/* #contact {
    width: 100%;
    height: 100%;
    background: url("https://cdn-icons-png.flaticon.com/512/1067/1067566.png") no-repeat center;
    background-size: 50%;
    margin: 50px;
} */
/* #contact:hover { */
    /* width: 100%; */
    /* height: 100%; */
    /* background: url("https://cdn-icons-png.flaticon.com/512/1067/1067617.png") no-repeat center;
    background-size: 50%;
} */

