  #vd-footer {
    /* width: 100%; */
    height: 600px;
    padding: 48px 32px 48px 32px;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    background-color: #213343;
    font-size: 16px;
} 
#vd-footer > #vd-footer1{
    width: 100%;
    height: 410px;
    margin: 0 0 26px 0;
    display: flex;
}
.vd-footer11{
    width: 38%;
    height: 100%;
}
.vd-footer-heading{
    color:#ffffff;
    font-weight: 600;
    font-size: 12px;
    line-height: 50px;
}
.vd-footer-option1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Lexend Deca", sans-serif;
}
.vd-footer-option1 > div {
    height: 250px;
    min-height: auto;
    min-width: auto;

}
.vd-footer12{
    width: 60%;
    padding-left:2%;
    height: 100%;
    display: flex;

}
.vd-footer12 > div{
    width: 200px;
    height: 100%;
    margin: auto;
    
}
.vd-footer-option2{
    display: grid;
    line-height: 28px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
}
#vd-footer1  a:hover{
    color: #b7ecec;
    text-decoration: underline;
}

#vd-footer1 a {
    display: grid;
    line-height: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #b6c7d6;
    font-size: 12px;
}
.vd-footer-heading4 {
    display: grid;
}

#vd-footer2  {
    display: flex;
    flex-direction: row;
    margin: auto;
}
#vd-footer2 div {
    align-items: center;
    display: flex;
    margin: auto;
    gap:30px;
    padding-left: 0px;
    padding-right: 0px;
}
#vd-footer2 > div > div{
    width: 40px;
    height: 40px;
}
#vd-footer2 img{
    width:100%
}
#vd-footer3{
    margin-top: 40px;
    text-align: center;
    align-items: center;
}
#vd-footer3 > div {
    line-height: 30px;
}
#vd-footer3 h1{
    color: #ffffff;
    margin-bottom: 5px;
}
#vd-footer3 p{
    color: #b6c7d6;
    font-size: 12px;
}

.vd-footer33{
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.vd-footer33 a{
    font-size: 14px;
color: #ffffff;
font-weight: 600;
}
.vd-footer33 a:hover{
    color: #b7ecec;
    text-decoration: none;
}
