* {
    font-family: Arial;
    color: #2e475d;
    margin-right: 0px;
    box-sizing: border-box;
  }
  body{
    margin-left: 0;
  }
  #mw_main {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-top: 100px;
    height: 440px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
  }
  #mw_pic {
    margin: auto;
   
    width: 48%;
    height: 98%;
  }
  #mw_content {
    margin: auto;
    
    width: 48%;
    height: 98%;
  }
  #mw_pic > img {
    margin: auto;
    width: 100%;
    height: auto;
  }
  #tm {
    color: #2e475d;
    font-size: 20px;
  }
  #mw_btn {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
   
    justify-content: space-around;
    align-items: center;
    margin-left: -10%;
    margin-bottom: 40px;
  }
  #mw_desc{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .accordion{
  max-width: 400px;
  
  margin-right: 210px;
  
  }
  .accordion .contentBx{
  position: relative;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
  }
  #mw_start {
    width: 35%;
    height: 45px;
    color: #ff5c35;
    border: 1px solid #ff5c35;
    background-color: #ffffff;
    border-radius: 4px;
    margin: 10px 20px;
  }
  
  .accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background-color:white;
    color: #153c56;
    cursor: pointer;
  }
  .accordion .contentBx .label::before{
    content: "+";
    position: absolute;
    top:50%;
    right:130px ;
    transform: translateY(-50%);
    font-size: 2.5em;
  }
  .accordion .contentBx.active .label::before{
    content: "-";
  }
  .accordion .contentBx .content{
    position: static;
    padding: 0px;
    margin-top: 20px;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
  }
  .accordion .contentBx.active .content{
     height: 200px;
     padding: 10px;
  }
  #mw_start:hover {
    background-color: #ffeded;
  }
  #mw_demo:hover {
   background-color: #ffc4b6;
  }
  #mw_demo {
    width: 32%;
    height: 45px;
    background-color: #ff5c35;
    color: #ffffff;
    border: 1px solid #ff5c35;
    border-color: #ff5c35;
    border-radius: 4px;
  }
  .mw_comp{
    margin: auto;
    margin-left: 40%;
    margin-top: 160px;
    font-size: 16px;
    font-weight:bold;
  }
  
  #mw_sponsers {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-top: 40px;
  }
  #mw_sponsers > img {
    width: 10%;
    height: 30px;
    margin-right: 20px;
  }
  
  #mw_video{
    margin: auto;
    margin-top: 30px;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
  }
  #mw_videoblog{
   margin: auto;
   width: 60%;
   height: 100%;
   margin-right: 40px;
   margin-top: 40px;
  }
  #mw_embed{
    margin: auto;
    width: 40%;
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
  }
  #mw_get{
  width: 600px;
  height: 300px;
  border: none;
  border-radius: 3px;
  margin-bottom: 30px;
  }
  #mw_gray{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  background-color: #eaf0f6;
  height: 900px;
  margin-left: -10px;
  margin-right: -40px;
  
  }
  #mw_enlarge{
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  gap:30px;
  margin-left: 20%;
  margin-top: 10px;
  
  }
  #mw_enlimage{
  width: 70%;
  
  }
  #enimage{
  width: 500%;
  }
  #mw_w{
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  }
  #mw_popft{
  margin-left: 20%;
  }
  #mw_popular{
  margin-left: 20%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  }
  #mw_popular>div>h4{
  color:#338a86;
  }
  #mw_popular>div>h4:hover{
  text-decoration: underline;
  cursor: pointer;
  }
  
  #mw_customer{ 
  width: 100%;
  height: 200px;
  margin: auto;
  margin-top: 20px;
  background-color:#303939;  
  }
  .white_head{
  margin: auto;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 30px;
  color: white;
  }
  .white_head1{
  margin: auto;
  margin-left: 35%;
  margin-right: 20%;
  margin-top: 20px;
  color: white;
  }
  #mw_cst{
  width: 70%;
  height: 250px;
  margin: auto;
  margin-top: -3%;
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 240px;
  border-radius: 5px;
  }
  #mw_cst>div{
  border:0.5px solid #869b9b;
  padding: 4px;
  border-radius: 5px;
  background-color: white;
  }
  #mw_cst>div>p{
  font-size: 18px;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  font-weight:lighter;
  }
  #mw_cst>div>h2{
  text-align: center;
  color: #1b4968;
  }
  .white_head2{
  margin: auto;
  margin-top: 20px;
  margin-left: 30%;
  }
  .white_head3{
  margin: auto;
  margin-top: 20px;
  margin-left: 30%;
  font-size: 16px;
  }
  #mw_cards{
  margin: auto;
  width: 70%;
  height: 430px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,fr);
  gap:20px;
  
  }
  #mw_cards>div{
  border:1px solid gray;
  margin-top: 20px;
  
  }
  #mw_cards>div:nth-child(1){
  border-top:5px solid rgb(92, 91, 101);
  }
  #mw_cards>div:nth-child(2){
  border-top:5px solid #f5c26b ;
  }
  #mw_cards>div:nth-child(3){
  border-top:5px solid #00bda5;
  }
  #mw_cards>div:nth-child(4){
  border-top:5px solid  #00a4bd;
  }
  .mw_popftdiv{
  margin-top: 20%;
  border-top: 1px solid gray;
  }
  .mw_popftdiv1{
  margin-top: 13%;
  border-top: 1px solid gray;
  }
  .mw_popft{
  color: #2e9595;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20%;
  }
  
  .mw_ck{
  margin-left: 20%;
  }
  #mw_btns_bottom{
  margin: auto;
  margin-left: 30%;
  margin-top: 5pc;
  border-radius: 5px;
  }
  #mw_btn1{
   width: 350px;
   height: 40px;
   background-color: #f8f8f8;
   border:1px solid #ff5c35;
   color: #ff5c35;
   border-radius: 5px;
  }
  #mw_btn2{
  width: 350px;
  height: 40px;
  background-color: #ff5c35;
  border: none;
  color: white;
  border-radius: 5px;
  }
  #mw_det{
  margin: auto;
  margin-left: 15%;
  margin-right: 11%;
  font-size: 14px;
  }
  #mw_hd{
  margin: auto;
  margin-left: 30%;
  margin-top: 30px;
  font-size: 34px;
  }
  #mw_gray > div:nth-child(12) > p{
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }
  #mw_gray > div:nth-child(13) > img{
    width: 50%;
    margin: auto;
    margin-left: 30%;
    height: 70%;
    margin-top: 30px;
  }
  #mw_flags{
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-top: 40px;
  margin-left: 23%;
  
  }
  .flag_image{
  width: 70%;
  }
  #mw_belhd{
  margin: auto;
  margin-left: 30%;
  margin-right: 15%;
  }
  .mw_belhd{
  margin: auto;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 10px;
  text-align:center;
  }
  #mw_below_video{
  margin: auto;
  display: grid;
  width: 80%;
  height: 700px;
  grid-template-columns: repeat(3,1fr);
  
  }
  #mw_below_video1,#mw_below_video2,#mw_below_video3{
    margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 65%;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,1fr);
  }
  #mw_below_video1>div:nth-child(1){
  
  margin: auto;
  width: 98%;
  height: 100%;
  }
  #mw_below_video1>div:nth-child(2){
  
  margin: auto;
  width: 98%;
  height: 30%;
  margin-bottom: 70%;
  display: grid;
  justify-content: center;
  align-items: center;
  
  }
  #mw_below_video1>div:nth-child(2)>img{
  width: 100%;
  margin: auto;
  }
  
  #mw_below_video2>div:nth-child(1){
  
  margin: auto;
  width: 98%;
  height: 100%;
  
  }
  #mw_below_video2>div:nth-child(2){
  
  margin: auto;
  width: 98%;
  height: 30%;
  margin-bottom: 70%;
  display: grid;
  justify-content: center;
  align-items: center;
  }
  
  #mw_below_video2>div:nth-child(2)>img{
  width: 90%;
  margin: auto;
  }
  
  #mw_below_video3>div:nth-child(1){
  
    margin: auto;
    width: 98%;
    height: 100%;
    
    
    }
    #mw_below_video3>div:nth-child(2){
    margin: auto;
    width: 98%;
    height: 30%;
    margin-bottom: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    }
    
    #mw_below_video3>div:nth-child(2)>img{
    width: 100%;
    margin: auto;
    }
  
  
  #mw_getstarteddown{
  width: 65%;
  margin: auto;
  height: 160px;
  margin-top: 50px;
  display: grid;
  text-align: center;
  }
  #mw_gb1{
  width: 25%;
  height: 40px;
  border: 1px solid #ff5c35;
  background-color: white;
  border-radius: 3px;
  }
  #mw_gb2{
  width: 20%;
  height: 40px;
  background-color: #ff5c35;
  border: 1px solid #ff5c35;
  border-radius: 3px;
  }
  .mw_gray2{
  width: 100%;
  height: auto;
  background-color: #f6f9fc;
  margin-top: 3500px;
  margin-left: -10px;
  text-align: center;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  }
  
  
  .mw_gray2>div:nth-child(1){
  
    width: 80%;
    margin-left: 15%;
   
  
  }
  .mw_gray2>div:nth-child(2){
  
    width: 80%;
    margin-right: 15%;
    margin-left: 5%;
  }
  
  .accordion2 .contentBx2 .label2{
    margin: auto;
  position: relative;
  padding: 10px;
  background-color:white;
  color: #153c56;
  cursor: pointer;
  border: 1px solid gray;
  font-weight: bold;
  font-size: 12px;
  height: 80px; 
  
  }
  .accordion2 .contentBx2 .label2::before{
    content: "▶️";
    position: absolute;
    top:50%;
    right:10px ;
    transform: translateY(-50%);
    font-size: 2.5em;
  }
  .accordion2 .contentBx2.active .label2::before{
  content: "🔽";
  }
  .accordion2 .contentBx2 .content2{
  position: static;
  padding: 0px;
  margin-top: 20px;
  background: white;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
  font-size: 18px;
  
  }
  .accordion2 .contentBx2.active .content2{
   height: 250px;
   padding: 10px;
   margin-top: 0;
   border: 1px solid gray;
   border-top: none;
   margin-bottom: 10px;
  }
  .accordion2 .contentBx2.active .label2{
    border-bottom: none;
    
    }
  
  .accordion3 .contentBx3 .label3{
  position: relative;
  padding: 20px;
  background-color:white;
  color: #153c56;
  cursor: pointer;
  border: 1px solid gray;
  font-weight: bold;
  text-align: left;
  font-size: 12px;
  height: 80px;
  }
  .accordion3 .contentBx3 .label3::before{
  content: "▶️";
  position: absolute;
  top:50%;
  right:10px ;
  transform: translateY(-50%);
  font-size: 2.5em;
  }
  .accordion3 .contentBx3.active .label3::before{
  content: "🔽";
  
  }
  .accordion3 .contentBx3.active .label3{
    border-bottom: none;
    
    }
  .accordion3 .contentBx3 .content3{
  position: static;
  padding: 0px;
  margin-top: 20px;
  background: white;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
  }
  .accordion3 .contentBx3.active .content3{
   height: 200px;
   padding: 10px;
   margin-top: 0;
   border: 1px solid gray;
   border-top: none;
   margin-bottom: 20px;
  }
  
  
  #mw_slidecontent{
  width: 100%;
  height: auto;
  background-color: #1b4968;
  margin-top: 90px;
  display: grid;
  margin-left: 0;
  margin-right: 0;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 600px;
  gap:20px;
  
  }
  #mw_slidehead{
  margin: auto;
  width: 70%;
  height: 30%;
  margin-top: 70px;
  }
  #mw_slidehead>h1{
  color: white;
  text-align: center;
  }
  #mw_slidehead>p{
  color: white;
  text-align: center;
  font-weight: lighter;
  }
  #mw_slidecontent>div{
  text-align: center;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 220px;
  border-radius: 4px;
  }
  #mw_slidecontent>div>h1{
  text-align: center;
  color: #153c56
  }
  #mw_slidecontent>div>p{
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  
  }
  #mw_slidecontent>div>img{
  margin-top: 10px;
  width: 8%;
  }
  .mw_slideimage{
  width: 10%;
  }
  .mw_prev{
  width: 13%;
  height: 9%;
  margin-top: 65%;
  margin-left: 70%;
  background-color: white;
  border: none;
  border-radius: 50%;
  color:#153c56;
  font-size:30px;
  }
  .mw_next{
    width: 13%;
    height: 9%;
  margin-top: 65%;
  margin-left: 20%;
  border-radius: 50%;
  background-color:white;
  border: none;
  color: #153c56;
  font-size: 30px;
  }